/*p {
  margin: 0;
  padding: 0;
}*/

/*html, body {
  height: 100%;
}*/

.sections {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.section {
  position: absolute;
  width: 100%;
  height: 100%;
}

.section.one {
  background-color: red;
}

.section.two {
  background-color: blue;
}

.section.three {
  background-color: yellow;
}

.section.four {
  background-color: green;
}

.left-content {
  position: fixed;
  width: 300px;
  top: 0px;
  left: 0px;
}

.right-content {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 300px;
  height: 100%;
}

.left-content-b {
  position: fixed;
  padding: 30px;
}

.right-content-b {
  position: absolute;
  width: 100%;
  left: 300px;
  height: 100%;
}